In [1]:
import pandas as pd
import numpy as np
import json

In [21]:
# load the twitter/csv data
data = pd.read_csv("twitter/twitter.adj_stats.csv.0")
data.rename(str.strip, axis="columns", inplace=True)

data_2 = pd.read_csv("twitter/twitter.adj_stats.csv.1")
data_2.rename(str.strip, axis="columns", inplace=True)

In [22]:
data[0:1000]

,timestep,num_nodes,num_edges,average_degree,max_degree,num_triangles,new_edges
0,0,1798,1000,0.556174,5,0,1000
1,1000,3538,2000,0.565291,7,0,1000
2,2000,5269,3000,0.569368,13,0,1000
3,3000,6945,4000,0.575954,13,0,1000
4,4000,8649,5000,0.578102,18,0,1000
...,...,...,...,...,...,...,...
995,995000,1235960,995811,0.805698,2432,33,999
996,996000,1236966,996811,0.805852,2438,33,1000
997,997000,1237999,997811,0.805987,2440,33,1000
998,998000,1239037,998810,0.806118,2441,33,999
999,999000,1240108,999810,0.806228,2441,33,1000

In [23]:
# get all the keys from the data
keys = data.keys()

keys

Index(['timestep', 'num_nodes', 'num_edges', 'average_degree', 'max_degree',
       'num_triangles', 'new_edges'],
      dtype='object')

In [2]:
config_name = "graph_config.json"
graph_config = json.load(open(config_name))

In [3]:
graph_config

{'Twitter': {'name': 'Twitter'}, 'Protein': {'name': 'Protein'}}

In [5]:
graph_config.keys()

dict_keys(['Twitter', 'Protein'])

In [6]:
for key in graph_config.keys():
    name = graph_config[key]["name"]
    print(name)

Twitter
Protein